<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Blocks (Held)</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(fuid, file) in files">
            <td>
                <a ng-if="file.total === file.have" ng-click="download(fuid, file)">{{ file.name }}</a>
                <span ng-if="file.total !== file.have">{{ file.name }}</span>
            </td>
            <td>{{ file.mime }}</td>
            <td>{{ file.total }} ({{ file.have }})</td>
            <td>
                <file-status file="file" />
            </td>
        </tr>
    </tbody>
</table>